/* settings */

$screen-size-tablet: 768px;
$screen-size-desktop: 1200px;

$white: #FFFFFF;

$gray-100: #ECEDF2;
$gray-200: #C5C3C6;
$gray-300:#B2B3B7;
$gray-700: #46494C;

$blue: #396A92;

$font-size-10: 1rem;
$font-size-16: 1.6rem;
