/* settings */

$screen-size-tablet: 768px;
$screen-size-desktop: 1200px;

$color-background: #FFFFFF;
$color-base: #DCDCDD;
$color-border: #C5C3C6;
$color-accent: #1985A1;
$color-font: #46494C;

$font-size-10: 1rem;
