/* sidebar */

.sidebar {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;

  .list {
    flex: 1 1 auto;
  }
}

@media (min-width: $screen-size-tablet) {
  .sidebar {
    flex: 0 0 24rem;
    width: auto;
    border-right: .1rem solid $gray-200;
  }
}

.sidebar-tools {
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;

  .filter {
    flex: 1 1 auto;
  }

  .button-add {
    flex: 0 0 3rem;
  }
}

.logo {
  @mixin font-light $font-size-16;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem 0 1rem;
  color: $gray-500;
}

.button-add {
  margin-left: .5rem;
  border: none;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: .2rem;
  background-color: $gray-50;
  color: $gray-300;
  transition: background-color ease .3s;

  &:hover {
    background-color: $gray-100;
  }
}
